#viewport {
  /**
   * Position relative so that canvas elements
   * inside of it will be relative to the parent
   */
  position: relative;
}

#viewport canvas {
  /**
   * Position absolute provides canvases to be able
   * to be layered on top of each other
   * Be sure to remember a z-index!
   */
  position: absolute;
}

canvas.background {
  z-index: 1;
}
canvas.interactive {
  z-index: 2;
}
