/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

body, html {
  margin: 0;
  height: 100%;
  color: white;
  background-color: #646872;
}

h1, h2 {
  margin: 0;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}



@font-face {
  font-family: Led7Segment;
  src: url('./assets/7LEDitalic.ttf');
}

