<div class="game-score-container">
  <div *ngIf="!scoreCard">
    <div class="messages-wrapper">High scores</div>
    <div class="container-fluid">
      <div *ngFor="let highScore of highScores">
        <div class="row">
          <div class="col-sm-6">{{highScore.userName}}</div>
          <div class="col-sm-6">{{highScore.score}}</div>
        </div>
      </div>
    </div>
    <button *ngIf="!scoreRegistered" (click)="newScoreCard()">Register score</button>
  </div>
  <div *ngIf="scoreCard" class="score-input">
    <div>SCORE: {{scoreCard.score}}</div>
    NAME: <input #nameInput
                 [(ngModel)]="scoreCard.userName"
                 (keyup.enter)="sendScoreCard()">
    <button (click)="sendScoreCard()">Skicka</button>
  </div>
</div>
