$status-bar-height: 50px;
$points-bar-height: 150px;
$footer-height: $status-bar-height+$points-bar-height;

.game-message {
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  position: fixed;
  text-align: center;
  z-index: 100;
  width: 100%;
  top: 300px;
  font-family: Led7Segment;
  color: red;
  font-size: 64px;
  text-shadow: 0 0 6px #ff4e00;
}

.game-container {
  position: relative;
  width: 100%;
}

.wrapper {
  display: grid;
  min-height: 100%;
  width: 100%;
  margin-bottom: -$footer-height;
}

.push {
  height: $footer-height;
}

.footer {
  height: $footer-height;
  .points {
    background-color: black;
    height: $points-bar-height;
    position: relative;
    text-align: right;
    font-family: Led7Segment;
    color: red;
    font-size: 96px;
    text-shadow: 0 0 6px #ff4e00;
  }
  .status-bar {
    width: 100%;
    height: $status-bar-height;
    background-color: black;
    padding: 6px 6px;
  }
}

@keyframes blinker {
  from { opacity: .6; }
  to { opacity: 0; }
}
