<div class="wrapper">
  <div class="game-container">
    <app-game-grid></app-game-grid>
  </div>
  <div class="push"></div>
</div>
<footer class="footer">
  <div class="points">
    <span class="margin-left">{{points}}</span>
  </div>
  <div class="status-bar">
    <div class="pull-right">
      <i class="fa" [ngClass]="{'fa-toggle-on': status === 'Connected', 'fa-toggle-off': status !== 'Connected'}"></i>
      <button type="button" class="btn btn-sm btn-outline-light margin-left" (click)="restartGame()">
        <i class="fa fa-repeat"></i>&nbsp;Starta om spelet
      </button>
    </div>
  </div>
</footer>
