<div class="wrapper">
  <div *ngIf="message" class="game-message">{{message}}</div>
  <div class="game-container">
    <app-game-grid></app-game-grid>
  </div>
  <div class="push"></div>
</div>
<footer class="footer">
  <div class="points">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">{{points}}</div>
        <div class="col-sm-6">{{secondsLeft}}</div>
        <!--<fusioncharts-->
          <!--[width]="50"-->
          <!--[height]="50"-->
          <!--[type]="angulargauge"-->
          <!--[dataFormat]="json"-->
          <!--[dataSource]="chart"-->
        <!--&gt;</fusioncharts>-->
      </div>
    </div>
  </div>
  <div class="status-bar">
    <div class="pull-right">
      <i class="fa" [ngClass]="{'fa-toggle-on': status === 'Connected', 'fa-toggle-off': status !== 'Connected'}"></i>
      <button type="button" class="btn btn-sm btn-outline-light margin-left" (click)="restartGame()">
        <i class="fa fa-repeat"></i>&nbsp;Starta om spelet
      </button>
    </div>
  </div>
</footer>
